astroid==2.2.5
certifi==2022.12.7
chardet==3.0.4
future==0.17.1
idna==2.8
isort==4.3.13
itchat==1.2.32
jieba==0.39
lazy-object-proxy==1.3.1
mccabe==0.6.1
pep8==1.7.1
pylint==2.3.1
pypng==0.0.19
PyQRCode==1.2.1
python-dateutil==2.8.0
requests==2.21.0
six==1.12.0
typed-ast==1.3.1
urllib3==1.24.1
wrapt==1.11.1
wxpy==0.3.9.8
apscheduler==3.6.0
